@charset "utf-8";
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(34,34,34,1.00) 15.54%,rgba(83,83,83,1.00) 34.20%,rgba(80,80,80,1.00) 58.03%,rgba(44,44,44,1.00) 73.06%,rgba(15,15,15,1.00) 86.53%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(34,34,34,1.00) 15.54%,rgba(83,83,83,1.00) 34.20%,rgba(80,80,80,1.00) 58.03%,rgba(44,44,44,1.00) 73.06%,rgba(15,15,15,1.00) 86.53%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(34,34,34,1.00) 15.54%,rgba(83,83,83,1.00) 34.20%,rgba(80,80,80,1.00) 58.03%,rgba(44,44,44,1.00) 73.06%,rgba(15,15,15,1.00) 86.53%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(34,34,34,1.00) 15.54%,rgba(83,83,83,1.00) 34.20%,rgba(80,80,80,1.00) 58.03%,rgba(44,44,44,1.00) 73.06%,rgba(15,15,15,1.00) 86.53%,rgba(0,0,0,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #000000;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #000000;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {

}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
}
.container-fluid .container {
    /* [disabled]background-color: #000000; */
}
.container-fluid .container {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: 0px 0px #000000;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    text-shadow: 0px 0px #FFFFFF;
    color: #FFFFFF;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item.active {
    color: #FFFFFF;
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto {
    color: #F3EFEF;
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto {
    color: #FFFFFF;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    color: #FFFFFF;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    color: #FFFFFF;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto .nav-item .nav-link {
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FFFFFF;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: #FFFFFF;
    text-shadow: 0px 0px #FFFFFF;
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(227,227,227,1.00) 34.20%,rgba(255,255,255,1.00) 48.18%,rgba(223,223,223,1.00) 62.18%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(227,227,227,1.00) 34.20%,rgba(255,255,255,1.00) 48.18%,rgba(223,223,223,1.00) 62.18%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(227,227,227,1.00) 34.20%,rgba(255,255,255,1.00) 48.18%,rgba(223,223,223,1.00) 62.18%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(227,227,227,1.00) 34.20%,rgba(255,255,255,1.00) 48.18%,rgba(223,223,223,1.00) 62.18%,rgba(0,0,0,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(141,141,141,1.00) 58.55%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(141,141,141,1.00) 58.55%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(141,141,141,1.00) 58.55%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(141,141,141,1.00) 58.55%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(128,128,128,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(128,128,128,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(128,128,128,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(128,128,128,1.00) 100%);
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(0,17,15,1.00) 0%,rgba(255,255,255,1.00) 49.74%,rgba(1,21,17,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,17,15,1.00) 0%,rgba(255,255,255,1.00) 49.74%,rgba(1,21,17,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,17,15,1.00) 0%,rgba(255,255,255,1.00) 49.74%,rgba(1,21,17,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,17,15,1.00) 0%,rgba(255,255,255,1.00) 49.74%,rgba(1,21,17,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,17,15,1.00) 0%,rgba(128,128,128,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,17,15,1.00) 0%,rgba(128,128,128,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,17,15,1.00) 0%,rgba(128,128,128,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,17,15,1.00) 0%,rgba(128,128,128,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    text-shadow: 0px 0px #000000;
}
.navbar-nav.mr-auto .nav-item .nav-link {
    text-shadow: 0px 0px #000000;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    text-shadow: 0px 0px #000000;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #2E2E2E;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #00241A;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    color: #FFFFFF;
}
.card.col-md-4.col-lg-12 .card-body .card-title {
    color: #001711;
}
#accordion1 .card #headingOne1 {
    background-color: #00241A;
}
#headingOne1 .mb-0 a {
    color: #FFFFFF;
}
#accordion1 .card #headingTwo1 {
    background-color: #00241A;
}
#accordion1 .card #headingTwo1 {
    color: #FFFFFF;
}
#headingTwo1 .mb-0 .collapsed {
    color: #FFFFFF;
}
#accordion1 .card #headingThree1 {
    background-color: #00241A;
}
#headingThree1 .mb-0 .collapsed {
}
#headingThree1 .mb-0 .collapsed {
    color: #FFFFFF;
}
.container-fluid .container footer {
    background-color: #00241A;
}
.row .col-lg-4 p {
    color: #FFFFFF;
}
.row .col-lg-6 p {
    color: #FFFFFF;
}
.container-fluid .container footer {
    background-image: -webkit-linear-gradient(270deg,rgba(50,50,50,1.00) 0%,rgba(13,32,28,1.00) 43.01%,rgba(1,21,17,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(50,50,50,1.00) 0%,rgba(13,32,28,1.00) 43.01%,rgba(1,21,17,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(50,50,50,1.00) 0%,rgba(13,32,28,1.00) 43.01%,rgba(1,21,17,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(50,50,50,1.00) 0%,rgba(13,32,28,1.00) 43.01%,rgba(1,21,17,1.00) 100%);
}
.container-fluid .container footer {
    background-image: -webkit-linear-gradient(270deg,rgba(29,47,43,1.00) 0%,rgba(1,21,17,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(29,47,43,1.00) 0%,rgba(1,21,17,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(29,47,43,1.00) 0%,rgba(1,21,17,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(29,47,43,1.00) 0%,rgba(1,21,17,1.00) 100%);
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.card.col-md-4.col-lg-12 .card-body .card-text {
    color: #000000;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #033631;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #B08435;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #F7F28F;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-image: -webkit-linear-gradient(270deg,rgba(167,122,44,1.00) 0%,rgba(248,239,138,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(167,122,44,1.00) 0%,rgba(248,239,138,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(167,122,44,1.00) 0%,rgba(248,239,138,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(167,122,44,1.00) 0%,rgba(248,239,138,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #FBF390;
}
.navbar-nav.mr-auto .nav-item .nav-link {
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FBF390;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    text-shadow: 0px 0px #A67F2B;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    text-decoration: none;
    list-style-position: inside;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    list-style-type: none;
    font-family: doppio-one;
    font-style: normal;
    font-weight: 400;


}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: medium;
    text-shadow: 0px 0px;
    letter-spacing: 1mm;
}
.carousel-item.active .carousel-caption h5 {
    color: #022923;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1mm;
}
.carousel-item.active .carousel-caption h5 {
}
.carousel-item.active .carousel-caption h5 {
    color: #EBD86F;
    text-decoration: none;
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
    color: #D7BC54;
}

































.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container-fluid .container .text-center {
    background-image: url(images/4.jpg);
}
.container-fluid .container .text-center {
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    letter-spacing: 1mm;
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
    background-image: url(images/dd.jpg);
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
    background-image: url(images/dc.jpg);
}
.container-fluid .container .text-left {
}
.container-fluid .container .text-left {
    color: #FFFFFF;
    background-image: url(images/dd.jpg);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.container-fluid .container .text-left {
    border-style: none;
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {
    background-color: #FFFFFF;
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.card.col-md-4.col-lg-12 .card-body .card-title {
}
.card.col-md-4.col-lg-12 .card-body .card-title {
}
.card.col-md-4.col-lg-12 .card-body .card-title {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {
}
.card.col-md-4.col-lg-12 .card-body .card-text.text-left {

}
.card.col-md-4.col-lg-12 .card-body .card-text {
}
.card.col-md-4.col-lg-12 .card-body .card-text {
}
